<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .body{
            background-image: url(../static/img/Download\ free\ png\ of\ Blue\ flowing\ liquid\ design\ element\ by\ Nunny\ about\ wave\,\ form\,\ splash\,\ fluid\,\ and\ abstract\ png\ 2282744.jpeg) ;
            background-size:c ;
            
        }
    </style>
    <title>Document</title>
</head>
<body class="body">
    <div >
        <h1>
            welcome!
        </h1>
    </div>
</body>
</html>